certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
cryptography==43.0.0
idna==3.8
markdown-it-py==3.0.0
mdurl==0.1.2
pycparser==2.22
Pygments==2.18.0
pyOpenSSL==24.2.1
requests==2.32.3
rich==13.8.0
typing_extensions==4.12.2
urllib3==2.2.2
xmltodict==0.13.0
